<div class="container">

	<hr>
	<div class="row">
		<div class="col-xs-12">
   		<app-cockpit (servercreated)='onserveradd($event)'
       (blueprintcreated)='onblueprintadd($event)'></app-cockpit>
			<app-server-element *ngFor="let serverElements of serverElement" [srvelement]="serverElements">
        <p>
            <strong *ngIf="serverElements.type === 'server'" style="color: red">{{ serverElements.content }}</strong>
            <em *ngIf="serverElementst.type === 'blueprint'">{{ serverElements.content }}</em>
          </p>
      </app-server-element>
		</div>
	</div>
</div>